name: Build and publish Docker Image to dockerhub

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          chmod +x docker/docker_build.sh
          cd docker
          ./docker_build.sh

      - name: Get version from build
        id: get_version
        run: |
          VERSION=$(cat docker/.version)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Tag and push image
        run: |
          VERSION=${{ steps.get_version.outputs.version }}
          docker tag kuyala lhotakj/kuyala:$VERSION
          docker tag kuyala lhotakj/kuyala:latest
          docker push lhotakj/kuyala:$VERSION
          docker push lhotakj/kuyala:latest